---
http_interactions:
- request:
    method: get
    uri: https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVinValuesExtended/1HGCM82633A004352?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Count":1,"Message":"Results returned successfully. NOTE: Any missing
        decoded values should be interpreted as NHTSA does not have data on the specific
        variable. Missing value should NOT be interpreted as an indication that a
        feature or technology is unavailable for a vehicle.","SearchCriteria":"VIN(s):
        1HGCM82633A004352","Results":[{"ABS":"","ActiveSafetySysNote":"","AdaptiveCruiseControl":"","AdaptiveDrivingBeam":"","AdaptiveHeadlights":"","AdditionalErrorText":"","AirBagLocCurtain":"1st
        and 2nd Rows","AirBagLocFront":"1st Row (Driver and Passenger)","AirBagLocKnee":"","AirBagLocSeatCushion":"","AirBagLocSide":"1st
        Row (Driver and Passenger)","AutoReverseSystem":"","AutomaticPedestrianAlertingSound":"","AxleConfiguration":"","Axles":"","BasePrice":"","BatteryA":"","BatteryA_to":"","BatteryCells":"","BatteryInfo":"","BatteryKWh":"","BatteryKWh_to":"","BatteryModules":"","BatteryPacks":"","BatteryType":"","BatteryV":"","BatteryV_to":"","BedLengthIN":"","BedType":"Not
        Applicable","BlindSpotIntervention":"","BlindSpotMon":"","BodyCabType":"Not
        Applicable","BodyClass":"Coupe","BrakeSystemDesc":"","BrakeSystemType":"","BusFloorConfigType":"Not
        Applicable","BusLength":"","BusType":"Not Applicable","CAN_AACN":"","CIB":"","CashForClunkers":"","ChargerLevel":"","ChargerPowerKW":"","CombinedBrakingSystem":"","CoolingType":"","CurbWeightLB":"","CustomMotorcycleType":"Not
        Applicable","DaytimeRunningLight":"","DestinationMarket":"","DisplacementCC":"2998.832712","DisplacementCI":"183","DisplacementL":"2.998832712","Doors":"2","DriveType":"","DriverAssist":"","DynamicBrakeSupport":"","EDR":"","ESC":"","EVDriveUnit":"","ElectrificationLevel":"","EngineConfiguration":"V-Shaped","EngineCycles":"","EngineCylinders":"6","EngineHP":"240","EngineHP_to":"","EngineKW":"","EngineManufacturer":"","EngineModel":"J30A4","EntertainmentSystem":"","ErrorCode":"0","ErrorText":"0
        - VIN decoded clean. Check Digit (9th position) is correct","ForwardCollisionWarning":"","FuelInjectionType":"","FuelTankMaterial":"","FuelTankType":"","FuelTypePrimary":"Gasoline","FuelTypeSecondary":"","GCWR":"","GCWR_to":"","GVWR":"Class
        1C: 4,001 - 5,000 lb (1,814 - 2,268 kg)","GVWR_to":"Class 1: 6,000 lb or less
        (2,722 kg or less)","KeylessIgnition":"","LaneCenteringAssistance":"","LaneDepartureWarning":"","LaneKeepSystem":"","LowerBeamHeadlampLightSource":"","Make":"HONDA","MakeID":"474","Manufacturer":"AMERICAN
        HONDA MOTOR CO., INC.","ManufacturerId":"988","Model":"Accord","ModelID":"1861","ModelYear":"2003","MotorcycleChassisType":"Not
        Applicable","MotorcycleSuspensionType":"Not Applicable","NCSABodyType":"2-door
        sedan,hardtop,coupe","NCSAMake":"Honda","NCSAMapExcApprovedBy":"","NCSAMapExcApprovedOn":"","NCSAMappingException":"","NCSAModel":"Accord
        (Note: For Crosstour model years 2010 and 2011 only. For Crosstour model years
        2012-2015, see vehicle model 37-405)","NCSANote":"","NonLandUse":"","Note":"","OtherBusInfo":"","OtherEngineInfo":"","OtherMotorcycleInfo":"","OtherRestraintSystemInfo":"Seat
        Belt (Rr center position)","OtherTrailerInfo":"","ParkAssist":"","PedestrianAutomaticEmergencyBraking":"","PlantCity":"MARYSVILLE","PlantCompanyName":"","PlantCountry":"UNITED
        STATES (USA)","PlantState":"OHIO","PossibleValues":"","Pretensioner":"","RearAutomaticEmergencyBraking":"","RearCrossTrafficAlert":"","RearVisibilitySystem":"","SAEAutomationLevel":"","SAEAutomationLevel_to":"","SeatBeltsAll":"Manual","SeatRows":"","Seats":"","SemiautomaticHeadlampBeamSwitching":"","Series":"","Series2":"","SteeringLocation":"","SuggestedVIN":"","TPMS":"","TopSpeedMPH":"","TrackWidth":"","TractionControl":"","TrailerBodyType":"Not
        Applicable","TrailerLength":"","TrailerType":"Not Applicable","TransmissionSpeeds":"5","TransmissionStyle":"Automatic","Trim":"EX-V6","Trim2":"","Turbo":"","VIN":"1HGCM82633A004352","ValveTrainDesign":"Single
        Overhead Cam (SOHC)","VehicleDescriptor":"1HGCM826*3A","VehicleType":"PASSENGER
        CAR","WheelBaseLong":"","WheelBaseShort":"","WheelBaseType":"","WheelSizeFront":"","WheelSizeRear":"","WheelieMitigation":"","Wheels":"","Windows":""}]}'
  recorded_at: Sat, 14 Mar 2026 18:41:10 GMT
recorded_with: VCR 6.4.0
